/* Afecta a todo */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Etiquetas */

html {
    scroll-behavior: smooth;
}

header {
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: auto;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: 0.5s;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a:hover {
    background-color: green;
}

section {
    width: 80%;
    height: auto;
    background-color: #333;
    color: aliceblue;
    padding: 25px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

main {
    width: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    padding-left: 25px;
}


/* Clases */


/* Id´s */