@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Afecta a todo */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Etiquetas */

html {
    scroll-behavior: smooth;
}

header {
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: auto;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: 0.5s;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a:hover {
    background-color: lightblue;
    color: black;
}

section {
    width: 80%;
    height: auto;
    background-color: #333;
    color: aliceblue;
    padding: 25px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

main {
    width: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-left: 25px;
    font-family: 'Hammersmith One', sans-serif;
}

h2,
h3 {
    font-family: 'Fira Sans', sans-serif;
}

body {
    overflow-x: hidden;
}


/* Clases */


/* Id´s */

#welcome {
    width: 100%;
    margin: 0;
    border-radius: 0%;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profilePic {
    width: 350px;
    height: 350px;
    background-image: url(../img/fondoPerfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
    animation: profilePic 2s linear;
    border: 5px black solid;
    transition: 0.5s;
}

#aboutMe {
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: #9bb1c3;
    border-style: outset;
    border-color: black;
    animation: divBackground 6s;
}

#iconos {
    display: block;
    padding-top: 10px;
    list-style: none;
}

#iconos li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#iconos li a {
    color: black;
    font-size: 50px;
    animation: socialIcons 3s;
}

#iconos li a:hover {
    color: white;
    transition: 0.5s;
}

#siteName {
    animation: tituloPag 3s;
}


/* Media query */


/* Small */

@media (max-width: 640px) {
    body {
        background-color: aliceblue;
    }
    main {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    #profilePic {
        width: 300px;
        height: 300px;
    }
    .nav1 {
        display: none;
    }
    .nav2 li>ul {
        display: none;
    }
    .nav2 ul li:hover>ul {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    .nav2 ul li:hover>ul:hover {
        visibility: hidden;
    }
    h1 {
        font-size: 25px;
    }
    @keyframes profilePic {
        from {
            width: 0px;
            height: 0px;
        }
        to {
            width: 300px;
            height: 300px;
        }
    }
    #profilePic:hover {
        width: 325px;
        height: 325px;
        transition: 0.5s;
    }
}


/* Medium */

@media(min-width: 641px) and (max-width: 1007px) {
    .nav2 {
        display: none;
    }
    #profilePic {
        width: 325px;
        height: 325px;
    }
    @keyframes profilePic {
        from {
            width: 0px;
            height: 0px;
        }
        to {
            width: 325px;
            height: 325px;
        }
    }
    #profilePic:hover {
        width: 350px;
        height: 350px;
        transition: 0.5s;
    }
}


/* Large */

@media(min-width:1008px) {
    .nav2 {
        display: none;
    }
    @keyframes profilePic {
        from {
            width: 0px;
            height: 0px;
        }
        to {
            width: 350px;
            height: 350px;
        }
    }
    #profilePic:hover {
        width: 375px;
        height: 375px;
        transition: 0.5s;
    }
}


/* Animaciones */

@keyframes divBackground {
    from {
        background-color: whitesmoke;
    }
    to {
        background-color: #9bb1c3;
    }
}

@keyframes socialIcons {
    from {
        color: transparent
    }
    to {
        color: black;
    }
}

@keyframes tituloPag {
    from {
        color: transparent;
        margin-left: -30%;
    }
    to {
        color: white;
        margin-left: 0%;
    }
}